<a href="https://colab.research.google.com/github/Carol-Git-Coder/Testes_Lists/blob/main/Understanding_ArrayLists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
a = [[1,2,3,4],[5,4,3,2],[4,5,6,7]]
for i in range(len(a)):
  for j in range(len(a[i])):
    print(a[i][j])

1
2
3
4
5
4
3
2
4
5
6
7

In [31]:
for i in range(len(a)):
  print(a[i])

[1, 2, 3, 4]
[5, 4, 3, 2]
[4, 5, 6, 7]

In [38]:
s = 0
for i in range(len(a)):
  for j in range(len(a[i])):
    s = s + a[i][j]
    print(s)

1
3
6
10
15
19
22
24
28
33
39
46

In [71]:

current_array = ['1','-1','1']
print(current_array)
desired_array = [int(numeric_string) for numeric_string in current_array]
print(desired_array)

['1', '-1', '1']
[1, -1, 1]

In [92]:
aa = input("")
current_array  = list(aa.split(','))
desired_array = [int(numeric_string) for numeric_string in current_array]
print(desired_array)

1,2,3,4
[1, 2, 3, 4]

In [94]:
a = "c ar lina"
cc = list(a.split(' '))
print(cc)

['c', 'ar', 'lina']

In [98]:
matrix_exemplo = []
for i in range(0,4):
  b = input("")
  b = list(b.split(','))
  m = [int(numestrig) for numestrig in b]
  matrix_exemplo.append(m)
  print(matrix_exemplo)

1,2,3,4
[[1, 2, 3, 4]]
3,4,5,6
[[1, 2, 3, 4], [3, 4, 5, 6]]
2,3,4,5
[[1, 2, 3, 4], [3, 4, 5, 6], [2, 3, 4, 5]]
8,6
[[1, 2, 3, 4], [3, 4, 5, 6], [2, 3, 4, 5], [8, 6]]

In [103]:
total = 0
for i in range(0,4):
  a = input("")
  b = list(a.split(','))
  total = total + float(b[i])
print("Diaonal is: "+ str(total))

jj

ValueError: ignored

[1.0, 2.0, 3.0, 4.0]

In [ ]:
print("hola")